<?xml version='1.0' encoding='utf-8'?>
<widget id="librifox.mjsir911" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LibriFox</name>
    <description>
	Librivox audio book player
    </description>
    <author email="marco@sirabella.org" href="sirabella.org">
	Marco Sirabella
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <plugin name="cordova-plugin-file" spec="^5.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-media" spec="^4.0.0" />
    <plugin name="cordova-plugin-playlist" spec="git+https://github.com/mjsir911/cordova-plugin-playlist.git" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <engine name="ubuntu" spec="~4.3.4" />
</widget>
